<div class="container text-center">
    <p>Bu Proje FS-2310-13 sınıfı tarafından hazırlanmıştır.</p>
    <h1 class="display-6">FS-2310-13</h1>
    <p>sınıfı tarafından hazırlanmıştır.</p>

</div>

@await Component.InvokeAsync("Categories")