@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,300&display=swap');
@import url("colors.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto;
    font-size: 18px;
    color: var(--text-primary);
    font-weight: 300;
    /* padding-top: 70px; */
}

.main-header{
    height: 70px;
    background-color: var(--bg-gray);

    /* position özelliğinin default değeri static'tir. ve position:Static olan bir element
    top,bottom,left ve right özelliğinden etkilenmez.
    ilgili element akışta kalır.

    */

    /* position: static; */

    /* position:fixed kullanılırsa ilgili element artık top,bottom,left,right
    özelliklerinden etkilenir.
    ilgili elementin akışın dışında kalmasını sağlar.akışın dışına çıkartır.
    
    */
    position: fixed;
    top: 0;
    /* top:50px; */
    width: 100%;
    opacity: .6;

}
.navbar{
   height: 100%;
}

.brand{
    float: left;
    width: 20%;
    height: 100%;
    display: table;
    padding-left: 15px;

}

.brand span, .brand i{
    display: table-cell;
    vertical-align: middle;
}


.navbar::after{
    content:"";
    clear: both;
    display: table;

}
.menu{
    width: 100%;
    height: 100%;
    padding-right: 15px;
}

.main-header ul{

    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 10px;
    height: 100%;
}

/* main{
    padding-top: 70px;
} */

.whatsapp{
    font-size: 70px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    /*
    position: sticky kullanılırsa ilgili element akışta kalarak, belirtilen top,
    bottom, left , right özelliklerinden etkilenir.Doğal olarak dafault hali akışta kalır.
    */

    /* position: sticky;
    top:0px; */
 
}

.main-hero{
    height: 100vh;
    background-color: red;
    background-image: url("/images/bg-main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

